<%- include('../layouts/userLayout/header.ejs') %>
<%- include('../layouts/userLayout/navbar.ejs') %>


<main class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner banner-big banner-overlay">
                    <a href="#">
                        <img src="userAssets/images/demos/demo-7/banners/banner-1.jpg" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-center">
                        <h3 class="banner-subtitle text-white"><a href="#">New Collection</a></h3><!-- End .banner-subtitle -->
                        <h2 class="banner-title text-white"><a href="#">Shop Women's</a></h2><!-- End .banner-title -->
                        <a href="#" class="btn underline"><span>Discover Now</span></a>
                    </div><!-- End .banner-content -->
                </div>
            </div>

            <div class="col-lg-6">
                <div class="banner banner-big banner-overlay">
                    <a href="#">
                        <img src="userAssets/images/demos/demo-7/banners/banner-1.jpg" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-center">
                        <h3 class="banner-subtitle text-white"><a href="#">New Collection</a></h3><!-- End .banner-subtitle -->
                        <h2 class="banner-title text-white"><a href="#">Shop Women's</a></h2><!-- End .banner-title -->
                        <a href="#" class="btn underline"><span>Discover Now</span></a>
                    </div><!-- End .banner-content -->
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="banner banner-big banner-overlay">
                    <a href="#">
                        <img src="userAssets/images/demos/demo-7/banners/banner-1.jpg" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-center">
                        <h3 class="banner-subtitle text-white"><a href="#">New Collection</a></h3><!-- End .banner-subtitle -->
                        <h2 class="banner-title text-white"><a href="#">Shop Women's</a></h2><!-- End .banner-title -->
                        <a href="#" class="btn underline"><span>Discover Now</span></a>
                    </div><!-- End .banner-content -->
                </div>
            </div>
       
            <div class="col-lg-6">
                <div class="banner banner-big banner-overlay">
                    <a href="#">
                        <img src="userAssets/images/demos/demo-7/banners/banner-1.jpg" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-center">
                        <h3 class="banner-subtitle text-white"><a href="#">New Collection</a></h3><!-- End .banner-subtitle -->
                        <h2 class="banner-title text-white"><a href="#">Shop Women's</a></h2><!-- End .banner-title -->
                        <a href="#" class="btn underline"><span>Discover Now</span></a>
                    </div><!-- End .banner-content -->
                </div>
            </div>

        </div>
    </div>
</main>



<%- include('../layouts/userLayout/footer.ejs') %>

